<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <!--This needs to be the same as the Web API project Properties / Web / Project URL entry for IIS Express with 'api/' appended to the end--> 
    <add key="ConsoleApp_WebApiLocation" value="http://localhost:19730/api/" />
  </appSettings>
</configuration>